@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

body {
  font-family: 'Oxygen', sans-serif;
}

.register {
  display: flex;
}

.info {
  width: 50%;
  height: 100%;
  background-color: rgba(218, 218, 218, 1);
}
.InfoContainer {
  padding: 40px 0 0 40px;
  color: rgba(68, 74, 255, 1);
}
.title {
  font-size: 30px;
}
.title h2 {
  margin: 0;
}
.article {
  font-size: 21px;
  max-width: 650px;
}
.parallelograms {
  display: flex;
  flex-direction: columngi;
}

.form {
  width: 50%;
  background-color: #F0F0F0;
}